.gitattributes
.DS_Store
/.vscode
/.nova
/vendor
/node_modules
npm-debug.log
yarn-error.log
.phpunit.result.cache
.idea/
/frontend/node_modules
/config/live.js
/config/local.js
/frontend/src/config/front_config.js